main/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mapList" type="mapListType"/>

  <xs:complexType name="tileType" mixed="true">
    <xs:sequence>
      <xs:element type="sendToPosType" name="sendToPos" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="tileType" use="optional"/>
    <xs:attribute type="xs:string" name="tilePos" use="optional"/>
  </xs:complexType>

  <xs:complexType name="sendToPosType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="pos" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="mapListType">
    <xs:sequence>
      <xs:element type="mapType" name="map">
        <xs:annotation>
          <xs:documentation>1 or more repetitions:</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mapType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="waves"/>
      <xs:element type="xs:string" name="winScore"/>
      <xs:element type="xs:string" name="startingGold"/>
      <xs:element type="tileType" name="tile" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>1 or more repetitions:</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>